.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #000000;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

#navbar.active {
  right: 0px;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 251, 251);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  word-spacing: 6px;
  font-weight: 600;
}

#navbar li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* start small */
  height: 2px;
  background-color: #ffd0f1;
  transition: width 0.3s ease;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  width: 100%; /* grow to full underline */
}


#navbar li a i {
  font-size: 40px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* BELT */
.belt-container {
  width: calc((180px * 6) + (20px * 5)); /* 6 images + 5 gaps */
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0;
}
.belt-track {
  display: flex;
  gap: 20px;
  will-change: transform;
}
.belt-track img {
  height: 180px;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
}
.belt-track img:hover {
  transform: scale(1.05);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height:500px;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    background-color: crimson;
    background-image: url("back.jpg");
  background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span {
    position: relative;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2f662c;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}
.login-box {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.login-box form {
    width: 100%;
    padding: 0 50px;
}
h2 {
    font-size: 2em;
    color: rgb(13, 15, 13);
    text-align: center;
}
.input-box {
    position: relative;
    margin: 50px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c6633;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #ffffff;
    padding: 20px;
    transition: .5s ease;
}
.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: rgb(0, 255, 55);
}
.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a {
    font-size: .85em;
    color: #000000;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: rgb(0, 255, 8);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}
.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a {
    font-size: 1em;
    color: rgb(0, 255, 89);
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover {
    text-decoration: underline;
}