.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Header Start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #000000;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}

#navbar.active {
  right: 0px;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 251, 251);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  word-spacing: 6px;
  font-weight: 600;
}

#navbar li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* start small */
  height: 2px;
  background-color: #ffd0f1;
  transition: width 0.3s ease;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  width: 100%; /* grow to full underline */
}


#navbar li a i {
  font-size: 40px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* BELT */
.belt-container {
  width: calc((180px * 6) + (20px * 5)); /* 6 images + 5 gaps */
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0;
}
.belt-track {
  display: flex;
  gap: 20px;
  will-change: transform;
}
.belt-track img {
  height: 180px;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
}
.belt-track img:hover {
  transform: scale(1.05);
}
@keyframes scrollBelt {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.moveleft{
    right: 20px;
}

.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span {
    position: relative;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}
.login-box {
    position: relative;
    width: 400px;
    top: 20px;
    margin: 40px auto 0 auto;
}
.login-box form {
    width: 100%;
    padding: 0 50px;
}
h2 {
    font-size: 2em;
    color: rgb(182, 245, 0);
    text-align: center;
}
.input-box {
    position: relative;
    margin: 50px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c6633;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #ffffff;
    padding: 20px;
    transition: .5s ease;
}
.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: #0ef;
}
.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a {
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}
.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a {
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover {
    text-decoration: underline;
}

.the-container{
  display: block;
  position: absolute;
  width: 950px;
  height: 450px;
  top: 0;
  bottom: 700;
  left: 800;
}

.c-window{
  display: block;
  position: relative;
  width: 235px;
  height: 235px;
  margin: 0 auto;
  border-radius: 100%;
  border: 8px solid #FFB399;
  background: #5ddfe8; 
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25) inset;
  overflow: hidden;
	transition: background 1s ease-in-out;
}

.c-window .the-sun{
  display: block;
  position: relative;
  top: 18px;
  height: 40px; width: 40px;
  background: #FFEE94;
  border-radius: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 40px #FFEE94;
  left: 30px;
	transition: top .5s ease-in-out;
}

.c-window .the-moon{
  position: relative;
  height: 24px; width: 24px;
	top: 200px;
  background: #EEE;
  border-radius: 100%;
  box-shadow: 0px 0px 20px #FFF;
  transition: top .5s ease-in-out;
}

.c-window .the-cat{
  display: block;
  position: absolute;
  bottom: -20px;
  height: 140px;
  width: 135px;
  margin: 0 50px;
  background: #777777;
  transition: bottom .25s ease-in-out;
}

.c-window .the-cat:before{
   width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #777;
    top: -20px;
    left: 0;
    position: absolute;
    content: "";
}
.c-window .the-cat:after{
   width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 20px solid #777;
    top: -20px;
    right: 0;
    position: absolute;
    content: "";
}

.c-window .the-cat:hover{
  display: block;
  position: absolute;
  bottom: -40px;
	cursor: pointer;
}

.c-window .the-cat .eyes{
   display: block;
  position: absolute;
  background: #FFEE94;
  height: 40px; width: 40px;
  border-radius: 100%;
  bottom: 80px;
}

.c-window .the-cat:hover .eyes{
  display: block;
  position: absolute;
  height: 8px; width: 40px;
  bottom: 100px;
}


.c-window .the-cat .eyes.left{
  left: 12px;
}

.c-window .the-cat .eyes.right{
  right: 12px;
}

.c-window .the-cat .eyes .pupil{
   display: block;
  position: relative;
  background: #FFB399;
  height: 100%; width: 5px;
  border-radius: 100%;
  margin: 0 auto;
	transition: width .5s ease-in-out;
}

.c-window .the-cat .nose{
   display: block;
  position: relative;
  background: #FFB399;
  height: 10px; width: 10px;
  border-radius: 100%;
  margin: 0 auto;
  top: 45px;
}


input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

 input#toggle[type=checkbox]{
     display:none;
 }


label {
    position: absolute;
    height: 40px;
    width: 120px;
    display: block; 
    top: 0px; bottom: 0; right: 0; left:0;
    z-index: 9999;
    cursor: pointer;
    margin: 0 auto;
}

.switch {
  display: block; 
  position: relative;
  border-bottom: 1px solid #FFF;
  border-radius: 25px;
  background: #FFB399;
  box-shadow: inset 0 0 10px #888888;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
  height: 40px;
  width: 100px;
  margin: 0px auto 30px auto;
}

.switch .button{
  display: block; 
  position: absolute;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #AAA;
  border-radius: 100%;
  background: #FFCFBF;
  height: 32px; 
  width: 32px;
  top: 4px;
  left: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.25)
}

.switch .button .b-inside{
  display: block; 
  position: absolute;
  border: 1px solid #888;
  border-radius: 100%;
  background: #FFEE94;
  height: 15px; 
  width: 15px;
  top: 7px;
  left: 7px;
  box-shadow: 0 0 2px rgba(0,0,0,0.25)
}

.day-night-cont {
  display: block;
  position: absolute;
  width: 180px;
  margin: 0 auto;
  left: 0; right: 0; top: 0; bottom:0;
  height: 40px;
  top: 0px;
}

.day-night-cont .the-sun{
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #FFEE94;
  box-shadow: 0px 0px 40px #FFEE94;
}

.day-night-cont .the-moon {
  display: block;
  position: absolute;
  right: 8px;
  top: 10px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #EEE;
  box-shadow: 0px 0px 20px #EEE;
}

.day-night-cont .the-moon .moon-inside{
  display: block;
  position: absolute;
  left: 8px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #FFCFBF;
}

/* TOGGLE */

.switch .button {
    transition: left .25s ease-in-out;
    -webkit-transition: left .25s ease-in-out;
}

input[type=checkbox]:checked ~ .switch .button {
    position: absolute;
    left: 64px;
}

/* NIGHT ANIMATION */

input[type=checkbox]:checked ~ .c-window {
  background: #111;
}

input[type=checkbox]:checked ~ .c-window .the-sun{  
	top: 200px; 
}

input[type=checkbox]:checked ~ .c-window .the-moon{ 
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 40px;
  left: 60px;  
}

input[type=checkbox]:checked ~ .c-window .the-cat{
  background: #444;
}

input[type=checkbox]:checked ~ .c-window .the-cat:before{
   width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #444;
    top: -20px;
    left: 0;
    position: absolute;
    content: "";
}
input[type=checkbox]:checked ~ .c-window .the-cat:after{
   width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 20px solid #444;
    top: -20px;
    right: 0;
    position: absolute;
    content: "";
}



input[type=checkbox]:checked ~ .c-window .the-cat .eyes .pupil{
  height: 90%; width: 34px;
  margin: 5% auto;
}

input[type=checkbox]:checked ~ .c-window .the-cat:hover .eyes{
  height: 40px; 
  bottom: 80px;
}